
#titre
{padding-top: 70px;
    font-size: 100px;
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}
header
{
    background-image:url(backgroundheader.jpg) ;
    width: auto;
    height: 300px;
    
}
body
{
    padding: 0;
    margin: 0;
    background-color: brown;
    
}
nav li
{   
    display: inline-block;
}
nav ul
{
    color: aliceblue;
    font-size: 40px;
    
    
}
section 
{width: 700px;
    height: 1100px;
    padding: 40px;
    text-align: justify;
    display: inline-block;
    background-color: aliceblue;
    position: absolute;
    top: 60%;
    left:30% ;
    border: 2px solid black;
}
aside
{ position:absolute;
    top:60%;
    right: 53%;

    padding: 0px 200px;
text-align: justify;
width: 300px;
height: 1500px;
color: aliceblue;  
}


footer
{   width: 100%;
     color: aliceblue;
    background-color: black;
    position:absolute;
    bottom: 0%;
    top: 100%;

    
    
}
p
{
    font-size: 200%;
}
a:hover
{
    text-decoration: underline;
    color: green;
    font-weight: bolder;
}
a{
    text-decoration: none;
    color: maroon;
    font-weight: lighter;

}
.paside
{
    font-size:large ;
}

i.fa-facebook
{
    padding: 16px;
    font-size: 3em;
    color: blue;
    background-color: aliceblue;
}
i.fa-linkedin
{
    padding: 16px;
    font-size: 3em;
    color: blue;
    background-color: aliceblue;

}
i.fa-twitter
{
    padding: 16px;
    font-size: 3em;
    color: aqua;
}
i.fa-location-dot
{
    padding: 16px;
    font-size: 3em;
    color: red;
    background-color: aliceblue;
}